<%= render 'helpersLayout/header' %>
<div class="mainBox">

  <div class="div_nueva_especialidad">

    <div class="imagen_nuevaespecialidad">
      <%= image_tag("lap.png", class: "lap_specialities")%>
    </div>

    <div class="div_nueva_agregada">
      <p class="etiqueta_solicitud cam_in_sol speciality_new_index name_new_index">
        <strong>NOMBRE: </strong>
        <%= @speciality.name %>
      </p>

      <p class="etiqueta_solicitud cam_in_sol speciality_new_index">
        <strong>TURNO MATUTINO: </strong>
        <%if @speciality.morningTurn %>
          <strong>Habilitado</strong>
        <% elsif @speciality.morningTurn == false%>
          <strong>Deshabilitado</strong>
        <% end %>
      </p>

      <p class="etiqueta_solicitud cam_in_sol speciality_new_index">
        <strong>TURNO VESPERTINO: </strong>
        <%if @speciality.eveningTurn %>
          <strong>Habilitado</strong>
        <% elsif @speciality.eveningTurn == false%>
          <strong>Deshabilitado</strong>
        <% end %>
      </p>

      <p class="etiqueta_solicitud cam_in_sol speciality_new_index">
        <strong>CLASES MATUTINAS: </strong>
        <%= @speciality.morningClasses %>
      </p>

      <p class="etiqueta_solicitud cam_in_sol speciality_new_index">
        <strong>CLASES VESPERTINAS:</strong>
        <%= @speciality.eveningClasses %>
      </p>

      <p class="etiqueta_solicitud cam_in_sol speciality_new_index">
        <strong>N. DE ESTUDIANTES:</strong>
        <%= @speciality.numberStudents %>
      </p>

      <div class="botones_index_sp">
        <%= link_to 'EDITAR', edit_speciality_path(@speciality), class: "btn-speciality acomodar_sol_index edit_sp_index"%>
        <%= link_to 'REGRESAR', specialities_path, class: "btn-speciality acomodar_sol_index back_sp_index" %>
      </div>
    </div>
  </div>
</div>
