<%= stylesheet_link_tag "application", :media => "all" %>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<section class="PrincipalLogin">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="container_login">
    <%= image_tag("logo.png", class: "logo_login mover_logo_login")%>
    <p class="text_login">Para Recuperar tu contraseña solo sigue las instrucciones</p>
    <%= image_tag("lap.png", class: "lap_login")%>
  </div>

  <div class="container_login2">
    <div>
      <%= f.label :email, "EMAIL", class: "login_texto" %><br />
      <%= f.email_field :email, autofocus: true, placeholder: "Escribe tu email", class:"form-input_login"%>
    </div>

    <div>
      <%= f.submit "Instrucciones", class:"btn-login mover_intrucciones_login" %>
      <%= render "devise/shared/links" %>
    </div>
  </div>

  <% end %>
</section>
