
<div id="load">
  <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
  <hi>Loading, please wait...</hi>
</div>

<%= render 'helpersLayout/header' %>

<section class="mainBox" id="request_section">
  <p id="notice"><%= notice %></p>
  <div id="actionR">
    <div id="move_titu">
      <h1 id="titu">SOLICITUDES</h1>
    </div>
    <div id="actions_request">
      <ul>
        <li><div class="moveActions_Request"><span class="icon-plus"></span> <p><%= link_to 'Nueva solicitud', new_request_path %></p></div></li>
        <li><div class="moveActions_Request", id="loading"><a href="/delateAll">eliminar</a></div></li>
      </ul>
    </div>
  <%= form_tag import_requests_path, multipart: true do %>
      <%= file_field_tag :file%>
      <%= submit_tag "Importar", :id =>"loading"%>
  <% end %>
  <%= form_tag(requests_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Buscar alumnos" %>
    <%= submit_tag "Buscar", :name => nil %>
  <% end %>

  </div>
  <div id="solicitudes">
    <p id="total">Total de solicitudes: <%=Request.all.length%></p>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido paterno</th>
          <th>Apellido materno</th>
          <th>Examen</th>
          <th>Secundaria</th>
          <th>Primera Especialidad</th>
          <th>Segunda Especialidad</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @requests.each do |request| %>
          <tr>
            <td><%= request.name %></td>
            <td><%= request.apellidoPaterno %></td>
            <td><%= request.apellidoMaterno %></td>
            <td><%= request.examMark %></td>
            <td><%= request.schoolAverage %></td>
            <td><%= request.speciality %></td>
            <td><%= request.secondSpeciality %></td>
            <td><%= link_to 'Edit', edit_request_path(request) %></td>
            <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
<br>
