
<div id="load">
  <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
  <hi>Loading, please wait...</hi>
</div>

<%= render 'helpersLayout/header' %>

<section class="mainBox" id="request_section">

  <div id="actionR">
    <div id="move_titu">
      <h1 id="titu">SOLICITUDES</h1>
    </div>
    <div id="actions_request">
      <ul>

        <li class="displayFlexAction"><span class="icon-plus move_icon"></span><p class="move_nuevaSo"><%= link_to 'Nueva Solicitud', new_request_path %></p></li>
        <li id="loading"><span  class="icon-bin move_icon" ></span><span id="destroy_requests" class="eliminarSolicitudes">Eliminar</span></li>
        <li>
          <div class="moveActions_Request">
            <%= form_tag import_requests_path, multipart: true do  %>
                <%= file_field_tag :file, class: "select"%>
                <%= submit_tag "Importar", :id =>"loading", class: "select"%>
            <% end %>
          </div>
        </li>s
        <li>
          <div class="moveActions_Request">
              <%= form_tag(requests_path, :method => "get", id: "search-form") do %>
                <%= text_field_tag :search, params[:search], placeholder: "", id: "buscador"%>
                <%= submit_tag "Buscar", :name => nil, id: "buscadorBotton" %>
              <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div id="solicitudes">
    <div class="h1_sol_pri etiqueta_solicitud total_sol">
      <p>Total de solicitudes: <%=Request.all.length%></p>
    </div>

    <table>
      <thead class="hola_sol">
        <tr class="hola_sol">
          <th class="etiqueta_solicitud cam_in_sol">Nombre</th>
          <th class="etiqueta_solicitud cam_in_sol">Apellido paterno</th>
          <th class="etiqueta_solicitud cam_in_sol">Apellido materno</th>
          <th class="etiqueta_solicitud cam_in_sol">Examen</th>
          <th class="etiqueta_solicitud cam_in_sol">Secundaria</th>
          <th class="etiqueta_solicitud cam_in_sol">Primera Especialidad</th>
          <th class="etiqueta_solicitud cam_in_sol">Segunda Especialidad</th>

          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @requests.each do |request| %>
          <tr>

            <td class="etiqueta_solicitud especialidades_soli"><%= request.name %></td>
            <td class="etiqueta_solicitud especialidades_soli2"><%= request.apellidoPaterno %></td>
            <td class="etiqueta_solicitud especialidades_soli2"><%= request.apellidoMaterno %></td>
            <td class="etiqueta_solicitud especialidades_soli2"><%= request.examMark %></td>
            <td class="etiqueta_solicitud especialidades_soli2"><%= request.schoolAverage %></td>
            <td class="etiqueta_solicitud especialidades_soli2"><%= request.speciality %></td>
            <td class="etiqueta_solicitud especialidades_soli2"><%= request.secondSpeciality %></td>
<<<<<<< HEAD
            <td class="etiqueta_solicitud especialidades_soli3"><%= link_to '', edit_request_path(request), class:"icon-pencil" %></td>
            <td class="etiqueta_solicitud especialidades_soli3"><%= link_to '', request, method: :delete, class:"icon-bin2", data: { confirm: '¿Desea eliminar el elemento?' } %></td>
=======
            <td class="etiqueta_solicitud especialidades_soli3"><%= link_to 'E', edit_request_path(request) %></td>
            <td class="etiqueta_solicitud especialidades_soli3"><%= link_to 'D', request, method: :delete, data: { confirm: '¿Desea eliminar el elemento?' } %></td>

>>>>>>> 0ebf6718ee2bdfacda207bdd921996fc645a001c
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
<br>
