
<%= render 'helpersLayout/header' %>
<div class="mainBox">

  <div class="div_nueva_especialidad div_nueva_solicitud">

      <div class="imagen_nuevaespecialidad">
        <%= image_tag("lap.png", class: "lap_specialities lap_srq")%>
      </div>

      <div class="div_nueva_agregada nueva_agregada_sol">
        <p class="etiqueta_solicitud cam_in_sol speciality_new_index name_req_index">
          <strong>Nombre: </strong>
          <%= @request.name %>
        </p>

        <p class="etiqueta_solicitud cam_in_sol speciality_new_index">
          <strong>Apellido Paterno: </strong>
          <%= @request.apellidoPaterno %>
        </p>

        <p class="etiqueta_solicitud cam_in_sol speciality_new_index">
          <strong>Apellido Materno: </strong>
          <%= @request.apellidoMaterno %>
        </p>

        <p class="etiqueta_solicitud cam_in_sol speciality_new_index">
          <strong>Calificación Examen:</strong>
          <%= @request.examMark %>
        </p>

        <p class="etiqueta_solicitud cam_in_sol speciality_new_index">
          <strong>Promedio Secundaria:</strong>
          <%= @request.schoolAverage %>
        </p>

        <p class="etiqueta_solicitud cam_in_sol speciality_new_index">
          <strong>Especialidad:</strong>
          <%= @request.speciality %>
        </p>

        <p class="etiqueta_solicitud cam_in_sol speciality_new_index">
          <strong>Segunda Espacialidad:</strong>
          <%= @request.secondSpeciality %>
        </p>

        <%= link_to 'EDITAR', edit_request_path(@request), class: "btn-speciality acomodar_sol_index edit_sp_index " %>
        <%= link_to 'REGRESAR', requests_path, class: "btn-speciality acomodar_sol_index back_sp_index back_rq_index" %>
      </div>
    </div>
  </div>
</div>
