<<<<<<< HEAD
<%= stylesheet_link_tag "application", :media => "all" %>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<%= render 'helpersLayout/header' %>
<section class="PrincipalNewSpecialities mainBox">
=======
<%= render 'helpersLayout/header' %>
<section class="mainBox">
>>>>>>> LaMeraMera


  <%= form_for(accepted) do |f| %>
    <% if accepted.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(accepted.errors.count, "error") %> prohibited this accepted from being saved:</h2>

        <ul>
        <% accepted.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

<<<<<<< HEAD
    <div class="container_new_specialities sombra_speciality cambio_div_alum_rec">
      <%= image_tag("lap.png", class: "lap_alum_recom")%>
      <p class="welcome_alum_recom welcome_new_specialities">ALUMNO</p>
    </div>

    <div class="container_new_specialities2 sombra_speciality">
      <div>
        <%= f.label :name, "NOMBRE", class: "speciality_texto comodar_alum_re2" %>
        <%= f.text_field :name, class:"form-input_speciality comodar_alum_re" %>
      </div>

      <div>
        <%= f.label :apellidoPaterno, "APELLIDO PATERNO", class: "speciality_texto acomodar_alum_re"  %>
        <%= f.text_field :apellidoPaterno, class:"acomodar_alum_re2 form-input_speciality "%>
      </div>

      <div>
        <%= f.label :apellidoMaterno, "APELLIDO MATERNO", class: "speciality_texto acomodar_alum_re"  %>
        <%= f.text_field :apellidoMaterno, class:"form-input_speciality acomodar_alum_re2 acomodar_alum_re3" %>
      </div>

      <div>
        <%= f.label :finalSpeciality, "ESPECIALIDAD", class: "speciality_texto acomodar_alum_re"  %>
        <%= f.text_field :finalSpeciality,class:"acomodar_alum_re2 form-input_speciality acomodar_alum_re4" %>
      </div>

      <div>
        <%= f.label :turn, "TURNO", class: "speciality_texto acomodar_alum_re"  %>
        <%= f.text_field :turn, class:"acomodar_alum_re2 form-input_speciality acomodar_alum_re5" %>
      </div>

      <div>
        <%= f.label :group, "GRUPO", class: "speciality_texto acomodar_alum_re"  %>
        <%= f.text_field :group, class:"acomodar_alum_re2 form-input_speciality acomodar_alum_re6" %>
      </div>

      <div>
        <%= f.submit "CREAR", class:"btn-alum_recom"%>
        <%= link_to 'CANCELAR', accepteds_path, class: "btn-speciality acomodar_btn_alum_recom" %>
      </div>
    <% end %>
  </div>
=======
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :apellidoPaterno %>
      <%= f.text_field :apellidoPaterno %>
    </div>

    <div class="field">
      <%= f.label :apellidoMaterno %>
      <%= f.text_field :apellidoMaterno %>
    </div>

    <div class="field">
      <%= f.label :examMark %>
      <%= f.text_field :examMark %>
    </div>

    <div class="field">
      <%= f.label :schoolAverage %>
      <%= f.text_field :schoolAverage %>
    </div>

    <div class="field">
      <%= f.label :speciality %>
      <%= f.text_field :speciality %>
    </div>

    <div class="field">
      <%= f.label :secondSpeciality %>
      <%= f.text_field :secondSpeciality %>
    </div>

    <div class="field">
      <%= f.label :finalSpeciality %>
      <%= f.text_field :finalSpeciality %>
    </div>

    <div class="field">
      <%= f.label :turn %>
      <%= f.text_field :turn %>
    </div>

    <div class="field">
      <%= f.label :group %>
      <%= f.text_field :group %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
>>>>>>> LaMeraMera
</section>
