<%= stylesheet_link_tag "application", :media => "all" %>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<%= render 'helpersLayout/header' %>
<section class="PrincipalNewSpecialities mainBox">



  <%= form_for(accepted) do |f| %>
    <% if accepted.errors.any? %>
      <div id="superError">
        <h2><%= pluralize(accepted.errors.count, "campos sin rellenar") %>,    Llena los campos para continuar</h2>


      </div>
    <% end %>
    <%@turnos = ['M','V']%>

    <div class="container_new_specialities sombra_speciality cambio_div_alum_rec">
      <%= image_tag("lap.png", class: "lap_alum_recom")%>
      <p class="welcome_alum_recom welcome_new_specialities">ALUMNO</p>
    </div>

    <div class="container_new_specialities2 sombra_speciality">
      <div>
        <%= f.label :name, "NOMBRE", class: "speciality_texto comodar_alum_re2" %>
        <%= f.text_field :name, class:"form-input_speciality comodar_alum_re" %>
      </div>

      <div>
        <%= f.label :apellidoPaterno, "APELLIDO PATERNO", class: "speciality_texto acomodar_alum_re"  %>
        <%= f.text_field :apellidoPaterno, class:"acomodar_alum_re2 form-input_speciality "%>
      </div>

      <div>
        <%= f.label :apellidoMaterno, "APELLIDO MATERNO", class: "speciality_texto acomodar_alum_re"  %>
        <%= f.text_field :apellidoMaterno, class:"form-input_speciality acomodar_alum_re2 acomodar_alum_re3" %>
      </div>

      <div>
        <%= f.label :finalSpeciality, "ESPECIALIDAD", class: "speciality_texto acomodar_alum_re"  %>
        <%= f.select(:finalSpeciality, options_for_select(@specialities), {}, {class:"acomodar_alum_re2 form-input_speciality acomodar_alum_re4"})%>
      </div>

      <div>
        <%= f.label :turn, "TURNO", class: "speciality_texto acomodar_alum_re"  %>
        <%= f.select(:turn, options_for_select(@turnos), {}, {class:"acomodar_alum_re2 form-input_speciality acomodar_alum_re5"}) %>
      </div>
      <%@letrasGrupos = ['null', 'A', 'B', 'C', 'D', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']%>
      <div>
        <%= f.label :group, "GRUPO", class: "speciality_texto acomodar_alum_re"  %>
        <%= f.select(:group, options_for_select(@letrasGrupos), {}, { class:"acomodar_alum_re2 form-input_speciality acomodar_alum_re6"}) %>
      </div>

      <div>
        <%= f.submit "CREAR", class:"btn-alum_recom"%>
        <%= link_to 'CANCELAR', accepteds_path, class: "btn-speciality acomodar_btn_alum_recom" %>
      </div>
    <% end %>
  </div>

</section>
