
<%= render 'helpersLayout/header' %>

<section class="acceptedSection">
  <p id="notice"><%= notice %></p>
  <div class="groupAc">
    <div class="move_grupo">
      <h1 class="grupoT">GRUPOS</h1>
    </div>
    <div class="actionsG">
      <ul>
        <%if Accepted.all.length == 0%>
          <li class="displayFlexAction" ><span class="icon-cog"></span><a class="move_generar" id="gen" href="/generate">GENERAR GRUPOS</a></li>
        <%end%>
      <%if Accepted.all.length > 0%>
        <li class="displayFlexAction"><span class="icon-plus"></span><p><%= link_to 'Agregar', new_accepted_path %></p></li>
        <li class="displayFlexAction" id="loading"> <span class="icon-bin"></span><a href="/delateAll1" class="move_vaciar">Vaciar bases de datos</a></li>
        <li><span class="icon-address-book"></span><a href="#" class="move_revisarGrupos"> Revisar grupos </a>
          <ul>
            <li class="modi">
              <p id="ver_matutino" class="turnos">Turno Matutino</p>
            </li>
            <li>
              <p id="ver_vespertino" class="turnos">Turno Verpertino</p>
            </li>
            <li>
              <p id="ver_none" class="turnos">Sin especialidad</p>
            </li>

          </ul>
        </li>
        <li >
          <span class="icon-blocked"></span><p id="aparecer">Rechazados</p>
        </li>
      </ul>
      <%end%>
    </div>
  </div>
  <div class="renders">
    <% if Accepted.all.length > 0%>
      <%= render 'helpersLayout/groupsFinderA' %>
      <%= render 'helpersLayout/groupsLayoutA' %>
      <%= render 'noAccepteds'%>
    <% end %>
  </div>
</section>
